{{ if not (eq .Site.DisqusShortname "") }}
<footer class="article-footer">
    <a href="{{ .Permalink }}/#disqus_thread" class="article-comment-link">
        {{with .Site.Data.l10n.articles.comments}}{{.}}{{end}}
    </a>
</footer>
{{end}}
