<aside id="profile">
  <div class="inner profile-inner">
    <div class="base-info profile-block">
      <img id="avatar" src="{{ .Site.Params.avatar | absURL }}">
      {{ with .Site.Params.author}}<h2 id="name">{{ . }}</h2>{{ end }}
      {{ with .Site.Params.bio }}<h3 id="title">{{ . }}</h3>{{ end }}
      {{ with .Site.Params.location }}<span id="location"><i class="fa fa-map-marker"></i>{{ . }}</span>{{ end }}
      {{ with .Site.Params.profile.follow_button }}
          <a id="follow" href="{{ . }}">
              {{with $.Site.Data.l10n.profile.follow_button}}{{.}}{{end}}
          </a>
      {{ end }}
    </div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        {{ len (where .Site.Pages "Type" "post") }}
        <span>{{with .Site.Data.l10n.profile.posts}}{{.}}{{end}}</span>
      </div>
      <div class="article-info-block">
        {{ if isset .Site.Taxonomies "tags" }}
          {{ len .Site.Taxonomies.tags }}
        {{ else }}
          0
        {{ end }}
        <span>
            {{with .Site.Data.l10n.profile.tags}}{{.}}{{end}}
        </span>
      </div>
    </div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          {{ partial "social" . }}
          {{ with  .OutputFormats.Get "atom" -}}
          <td><a href="{{ .Permalink }}" target="_blank" title="Feed"><i class="fa fa-rss"></i></a></td>
          {{- end }}
        </tr>
      </table>
    </div>
  </div>
</aside>
