{{ if .Params.disable_profile | and .Params.disable_widgets }}
<section id="main" class="full-width">
{{ else }}
<section id="main">
{{ end }}
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                <img src="{{ .Params.banner | absURL }}" class="article-banner">
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
              {{ .Content }}{{ partial "series.html" . }}
              {{ if .IsTranslated }}
              <hr/>
              <h6>This article is also available in</h6>
              <ul>
                {{ range .Translations }}
                <li>
                  <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                </li>
                {{ end}}
              </ul>
              {{ end }}
            </div>
            {{ partial "article_footer" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

    {{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
    <section id="comments">
        <div id="disqus_thread">
            {{ template "_internal/disqus.html" . }}
        </div>
    </section>
    {{ end }}
</section>
